*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 50vh;
}
.container h2{
    font-size: 2.222rem;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#enter-amt{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
form{
    margin: 2rem 0 1rem 0;
}
form select, button, input{
    width: 100%;
    border: none;
    outline: 0;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 6rem;
    border: 1px solid lightgray;
}
.amount input:focus{
    border: 5px solid #af4d9868;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
}
form button{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}
form button:hover{
    background-color: #b8419c;
}